<% var imageId = _.uniqueId("previewImage"); %>

<div id="<%= imageId %>" class=preview-image>
	<img src="<%= response.viewUrl %>" alt="preview" >
	<dl>
		<dt>Dimensions</dt><dd class=dimensions></dd>
		<dt>File size</dt><dd><%- response.contentLengthFormatted %></dd>
		<dt>Mime</dt><dd><%- response.getHeader(/Content-Type/i) %></dd>
	</dl>
</div>

<script>
$img = $("#<%= imageId %> img");
$img.load(function(){
	$("#<%= imageId %> .dimensions").text($img[0].naturalWidth+" \xd7 "+$img[0].naturalHeight);
})
</script>