<div>
<div title="Pop out" class="button button-topright button-popout"></div>
<div title="Filter for similar requests" data-bind='data-search: "similarTo:"+id+",3"' class="button button-topright button-similar searchlink"></div>
<div class=content>

	<% function printChecksums(r){ %>
		<% for(var item in r.contentChecksums){ %>
			<tr>
				<td><%- item %></td>
				<td><ul class=checksums>
				<% for(var algo in r.contentChecksums[item]){ %>
					<li><%- algo %>: <span class=value><%- r.contentChecksums[item][algo] %></span><% if(algo=="sha256") { %> <a class=button target="_blank" href="https://www.virustotal.com/de/file/<%- r.contentChecksums[item][algo] %>/analysis/">[VT]</a><% } %></li>
				<% } %>
				</ul></td>
			</tr>
		<% } %>
	<% } %>
		
	<% function printHeaders(title, r){ %>
		<tr><td class=title colspan=2><%- title %></td></tr> 
		<% for(var i=0;i<r.headers.length;i++){ %> 
			<tr class=request-headers>
				<td class=header-name><%- r.headers[i][0] %></td>
				<td class=header-value><%- r.headers[i][1] %></td>
			</tr>
		<% } %>
	<% } %>
	
	<% function download(r){ %>
		<td><a class="button button-text button-download" href="<%- r.downloadUrl %>">Download (<%- r.contentLengthFormatted %>)</a></td>
	<% } %>

	<h2 class=title data-bind="textContent: RequestUtils.getFullPath(request)"></h2>
	<div class=subtitle data-bind="textContent: RequestUtils.getQueryString(request)"></div>
	
	<table class=headers>
		<tbody>
			<tr><td class=title>Request URL:</td><td data-bind="textContent: RequestUtils.getFullPath(request)"></td></tr>
			<tr><td class=title>Request Method:</td><td data-bind="textContent: request.method"></td></tr>
			<tr><td class=title>Status Code:</td><td data-bind="textContent: response.code"></td></tr>
			<tr><td>&nbsp;</td><td></td></tr>
		</tbody>


		<tbody>
			<%- "FIXME" /*printHeaders("Request Headers:",model.request)*/ %>
		</tbody>
		

		
		<% /* if(model.request.hasContent) { %>
			<tbody>
				<tr>
					<td class=title>Request Data:</td>
					<% download(model.request); %>
				</tr>		 	
			</tbody>
		<% } %>

		<tbody data-dojo-attach-point='requestContentNode'>
		</tbody>
		
		<% if(model.request.hasPayload) { %>
			<tbody>
				<% printChecksums(model.request); %>	
			</tbody>
		<% } %>	
		
		<tbody>
			<% printHeaders("Response Headers:",model.response); %>
		</tbody>
		
		<% if(model.response.hasContent) { %>
			<tbody>
				<tr>
					<td class=title>Response Data:</td>
					<% download(model.response); %>
				</tr>
				 <% printChecksums(model.response); %>			 	
			</tbody>
		<% } %>
 	
 		<% if(model.request.client_conn.address[0] !== "127.0.0.1") { %>
	 		<tbody>
	 			<tr><td class=title>Client Connection:</td><td><%- model.request.client_conn.address.join(":") %></td></tr>
			</tbody>
		<% } %>
 	
	 	<% if(model.response.cert) { %>
	 		<tbody>
	 			<tr><td colspan=2 class=title>Server certificate:</td></tr>
			 	<tr><td colspan=2>
					<pre class="raw raw-cert"><%- model.response.cert %></pre>
				</td></tr>
			</tbody>
		<% } */ %>
	</table>
</div>
</div>