<div>
	<div title="Pop out" class="button button-topright button-popout"></div>
	<div title="Filter for similar requests" data-bind='data-search: "similarTo:"+id+",3"' class="button button-topright button-similar searchlink"></div>
	<div class="content">

		<h5 class="no-text-overflow">
			<span data-bind="textContent: RequestUtils.getFullPath(request)"></span><br>
			<small data-bind="textContent: RequestUtils.getQueryString(request)"></small>
		</h5>

		<table class="headers">
			<tbody>
				<tr data-bind="hide: request.client_conn.address[0] === '127.0.0.1'">
					<td class="title">Client Connection:</td><td data-bind="textContent: request.client_conn.address.join(':')"></td></tr>
				<tr><td class="title">Request URL:</td><td data-bind="textContent: RequestUtils.getFullPath(request)"></td></tr>
				<tr><td class="title">Request Method:</td><td data-bind="textContent: request.method"></td></tr>
				<tr><td class="title">Status Code:</td><td data-bind="textContent: response.code"></td></tr>
				<tr><td colspan="2">&nbsp;</td></tr>
			</tbody>

			<tbody data-bind="headerTable: request">
			
			<tbody data-bind="show: RequestUtils.hasContent(request)">
				<tr>
					<td class="title">Request Data:</td>
					<td><a class="button button-text button-download" data-bind="href: RequestUtils.getDownloadUrl(request)">
						Download (<span data-bind="textContent: RequestUtils.getContentLengthFormatted(request)"></span>)</a></td>
				</tr>		 	
			</tbody>

			<tbody data-bind="formDataTable: request">
				FIXME Formdata
			</tbody>

			<tbody data-bind="checksumTable: request">
				FIXME Checksums
			</tbody>
			
			<tbody data-bind="headerTable: response">

			<tbody data-bind="show: ResponseUtils.hasContent(response)">
				<tr>
					<td class="title">Response Data:</td>
					<td><a class="button button-text button-download" data-bind="href: ResponseUtils.getDownloadUrl(response)">
						Download (<span data-bind="textContent: ResponseUtils.getContentLengthFormatted(response)"></span>)</a></td>
				</tr>		 	
			</tbody>
	 	
	 		<tbody data-bind="show: response.cert">
	 			<tr><td colspan=2 class="title">Server certificate:</td></tr>
			 	<tr><td colspan=2>
					<pre class="raw raw-cert" data-bind="textContent: response.cert"></pre>
				</td></tr>
			</tbody>
		</table>
	</div>
</div>

	<!--
	<% function printChecksums(r){ %>
		<% for(var item in r.contentChecksums){ %>
			<tr>
				<td><%- item %></td>
				<td><ul class=checksums>
				<% for(var algo in r.contentChecksums[item]){ %>
					<li><%- algo %>: <span class=value><%- r.contentChecksums[item][algo] %></span><% if(algo=="sha256") { %> <a class=button target="_blank" href="https://www.virustotal.com/de/file/<%- r.contentChecksums[item][algo] %>/analysis/">[VT]</a><% } %></li>
				<% } %>
				</ul></td>
			</tr>
		<% } %>
	<% } %>
		
	<% function printHeaders(title, r){ %>
		<tr><td class=title colspan=2><%- title %></td></tr> 
		<% for(var i=0;i<r.headers.length;i++){ %> 
			<tr class=request-headers>
				<td class=header-name><%- r.headers[i][0] %></td>
				<td class=header-value><%- r.headers[i][1] %></td>
			</tr>
		<% } %>
	<% } %>
	
	<% function download(r){ %>
		<td><a class="button button-text button-download" href="<%- r.downloadUrl %>">Download (<%- r.contentLengthFormatted %>)</a></td>
	<% } %> -->