<div title="Pop out" class="button button-popout"></div>
<div title="Filter for similar requests" data-search="similarTo:<%- id %>,3" class="button button-similar searchlink"></div>
<div class=content>
	<h2 class=title><%- request.filename %></h2>
	Request URL: <%- request.fullPath %><br>
	Request Method: <%- request.method %><br>
	Status Code: <%- response.code %><br>
	
	<%
		function printChecksums(r){
			var intro = 'Checksums';
			for(var algo in r.contentChecksums) {
				print('<tr><td>'+intro+'</td><td>'+algo+': '+r.contentChecksums[algo]+'</td></tr>');
				intro = '';
			}
		}
	%>
	
	<table class=headers>
	<tr><td colspan=2><b>Request Headers:</b></td></tr>
		<%
			var headers = request.headers;
			for(var i=0;i<headers.length;i++){
				%> 
				<tr>
					<td><%- headers[i][0] %></td>
					<td><%- headers[i][1] %></td>
				</tr>
				<%
			}
 		%>
		<% if(request.hasFormData) {
			var tr_id = _.uniqueId("formdata");
			print('<tr id="'+tr_id+'"><td><b>Form Data:</b></td><td>Loading...</td></tr>');
			request.getFormData(function(formData){
				var $tr = $("#"+tr_id);
				var html = "";
				for(var i=0;i<formData.length;i++) {
					html +="<tr><td>"+_.escape(decodeURIComponent(formData[i].name))+"</td><td>"+_.escape(decodeURIComponent(formData[i].value))+"</td></tr>";
				}
 				$tr.after(html);
				$tr.find("td").last().text("");
			});

		} else if(request.hasPayload) {
			print("<tr><td colspan=2><b>Request Payload:</b></td></tr>");
			
		} 
		if(request.hasContent) {
			print('<tr><td></td><td><a class="button-download button-request-payload" href="'+request.downloadUrl+'">Download ('+request.contentLengthFormatted+')</a></td></tr>');
			printChecksums(request);
		}
%>	
	<tr><td colspan=2><b>Response Headers:</b></td></tr>
		<%
			var headers = response.headers;
			for(var i=0;i<headers.length;i++){ 
				%> 
				<tr>
					<td><%- headers[i][0] %></td>
					<td><%- headers[i][1] %></td>
				</tr>
				<%
			}
 		%>
 	<% if(response.hasContent) { %>
 	<tr><td colspan=2><b>Response Data:</b></td></tr>
 		<tr><td>Size</td><td><%- response.contentLengthFormatted %></td></tr>
 		<% printChecksums(response); %>
 	<% } %>
	</table>
	<% if(response.cert) { %>
		<b>Server certificate:</b>
		<pre class="raw raw-cert">
		<%- response.cert %>
		</pre>
	<% } %>
</div>