<td class=ssl title=<%- id %>>
	<div class=hidden><%- /*table sorter */request.scheme %></div>
	</td>
<td class=name-column>
	<div class=filters></div>
	<div class=icon></div>
	<%- request.filename %>
	<div class=subtitle><%- request.fullPath %></div>
	</td>
<td class=method>
	<%- request.method %></td>
<td class=responsecode>
	<%- response.code %></td>
<td class=contenttype>
	<%- response.contentType %></td>
<td class=size>
	<div class=hidden><%- /*table sorter */ response.contentLength %></div>
	<div title="<%- response.contentLength %> Bytes">
		<%- response.contentLengthFormatted %>
	</div></td>
<td class=time>
	<div class=hidden><%- /*table sorter */ request.timestamp %></div>
	<div class=timestamp title="UNIX Timestamp: <%- request.timestamp %>">
	<%- request.date.toLocaleTimeString() %>, <%- ("0"+request.date.getDay()).slice(-2)+"."+("0"+request.date.getMonth()).slice(-2) %>.<br>
	</div>	
	<div class=duration>
	<%- Math.floor((response.timestamp - request.timestamp) * 1000) %>ms
	</div>	
	</td>