<div title="Pop out" class="button button-popout"></div>
<div class=content>
	<h2 class=title><%- getFilename() %></h2>

<pre class="raw raw-request"><%- getRequestMethod() %> <%- getRequestPath() %> HTTP/<%- getRequestHTTPVersion().join(".") %>
<% 
//Request Headers
var headers = getRequestHeaders();
for(var i=0;i<headers.length;i++){
	print(_.escape(headers[i][0]+": "+headers[i][1])+"\n");
}
print("\n");
//Request Content
if(hasRequestContent()) {
var request_id = _.uniqueId("raw");
print('<div id="'+request_id+'">Loading...</div>');
getRequestContent(function(data){
	$("#"+request_id).after(_.escape(data)).remove();
}); } else print("&lt;empty request content&gt;"); %>
</pre>


<pre class="raw raw-response">HTTP/<%- getResponseHTTPVersion().join(".") %> <%- getStatusCode() %> <%- getResponseMessage() %> 
<%
var headers = getResponseHeaders();
for(var i=0;i<headers.length;i++){
	print(_.escape(headers[i][0]+": "+headers[i][1])+"\n");
}
print("\n");
//Response Content
if(hasResponseContent()) {
var response_id = _.uniqueId("raw");
print('<div id="'+response_id+'">Loading...</div>');
getResponseContent(function(data){
	$("#"+response_id).after(_.escape(data)).remove();
}); } else print("&lt;empty response content&gt;"); %>

</pre>
</div>