<td class=ssl title=<%- id %>>
	<div class=hidden><%- /*table sorter */request.scheme %></div>
	</td>
<td class=name-column>
	<div class=filters></div>
	<div class=icon></div>
	<%- request.filename %>
	<div class=subtitle><%- request.fullPath %></div>
	</td>
<td class=method>
	<%- request.method %></td>
<td class=responsecode>
	<%- response.code %></td>
<td class=contenttype>
	<%- (response.contentType && response.contentType.split(";")[0]) || "" %></td>
<td class=size>
	<div class=hidden><%- /*table sorter */ response.contentLength %></div>
	<div title="<%- response.contentLength %> Bytes">
		<%- response.contentLengthFormatted %>
	</div></td>
<td class=time>
	<div class=hidden><%- /*table sorter */ request.timestamp_start %></div>
	<div class=timestamp title="UNIX Timestamp: <%- request.timestamp_start %>">
	<% var date_start = new Date(request.timestamp_start*1000); %>
	<%- date_start.toLocaleTimeString() %>, <%- ("0"+date_start.getDate()).slice(-2)+"."+("0"+(date_start.getMonth()+1)).slice(-2) %>.<br>
	</div>	
	<div class=duration>
	<%- Math.floor((response.timestamp_end - request.timestamp_start) * 1000) %>ms
	</div>	
	</td>